<!DOCTYPE html>
<html>
  <head>
    <title>Create Character</title>
    <style>
      ul {
        list-style-type: none;
        padding: 0;
      }

      li {
        margin-bottom: 10px;
      }

      .container ul li a {
        padding: 10px 15px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      }

      .container ul li a:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <form action="/create_character" method="post">
      <input
        type="text"
        name="username"
        placeholder="Enter Username"
        required
      />
      <input type="text" name="race" placeholder="Character Race" required />
      <input type="text" name="class" placeholder="Character Class" required />
      <input type="submit" value="Create Character" />
    </form>
  </body>
</html>
