<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Adventure Game</title>
    <style>
      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style-type: none;
        padding: 0;
      }

      li {
        margin-bottom: 10px;
      }

      .container ul li a {
        padding: 10px 15px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      }

      .container ul li a:hover {
        background-color: #0056b3;
      }
    </style>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Adventure Game!</h1>
      <p>Begin your journey into a world of mystery and danger.</p>
      <div>
        <a href="{{ url_for('create_character') }}" class="button"
          >Create New Character</a
        >
      </div>
    </div>
  </body>
</html>
