<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style-type: none;
        padding: 0;
      }

      li {
        margin-bottom: 10px;
      }

      .container ul li a {
        padding: 10px 15px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      }

      .container ul li a:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <h1>Inventory</h1>
    {% if inventory %}
    <ul>
      {% for item in inventory %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <p>Your inventory is empty.</p>
    {% endif %}
    <a href="/game_menu">Back to Menu</a>
  </body>
</html>
